@model IEnumerable<Garage_ManagementFinal.user>

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/delete.css">
</head>
<div class="confirm-dialog-container">
    <div class="confirm-dialog">
        <h2>Edit Your Profile</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone_no)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.role)
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.role)
                    </td>


                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })

                    </td>
                </tr>
            }

        </table>
        <div>
            <a href="javascript:history.go(-1)" class="btn btn-outline-info">Back</a>
        </div>

    </div>
</div>